<h1 class="page-title">最近投稿された質問</h1>
<table class="list">
  <tr class="list-header">
    <td>ID</td>
    <td>課題ID</td>
    <td>学生ID</td>
    <td>タイトル</td>
    <td>投稿日</td>
    <td>　</td>
  </tr>
  <% @question.each do |question| %>
  <tr class="list-content">
    <td><%= question.id %></td>
    <td><%= question.homework_id %></td>
    <td><%= question.student_id %></td>
    <td><%= question.title %></td>
    <td><%= question.created_at %></td>
    <td>
      <%= link_to '詳細', "questions/#{question.id}" %>　
      <%= link_to '削除', "questions/#{question.id}",method: :delete %>　
      <%= link_to '編集', "questions/#{question.id}/edit" %>　
    </td>
  </tr>
  <% end %>
</table>
<%= link_to'新規追加','questions/new' , class: 'main-button'%>