<%= form_for @question , url: {action: :create} do |f| %>
<p>
    <p><%= f.label :homework_id, '課題ID' %></p>
    <%= f.text_field :homework_id %>
</p>
<p>
    <p><%= f.label :student_id, '生徒ID' %></p>
    <%= f.text_field :student_id %>
</p>
<p>
    <p><%= f.label :title, 'タイトル' %></p>
    <%= f.text_field :title %>
</p>
<p>
    <p><%= f.label :body, '本文' %></p>
    <%= f.text_field :body %>
</p>
<p>
   <p><%= f.label :file_uri, 'ファイル' %></p>
    <%= f.text_field :file_uri %> 
</p>
<p>
    <p><%= f.label :like_count, 'like_count' %></p>
    <%= f.text_field :like_count %>
</p>
<p>
    <p><%= f.label :solved_at, '解決した日' %></p>
    <%= f.date_field :solved_at %>
</p>
<p>
    <%= f.submit '登録' %>
</p>
<% end %>