<h1 class="page-title">質問詳細（課題ID：<%= @question.homework_id %>）</h1>
<ul class="show first">
  <li>課題ID</li>
  <li><%= @question.homework_id %></li>
</ul>
<ul class="show">
  <li>生徒ID</li>
  <li><%= @question.student_id %></li>
</ul>
<ul class="show">
  <li>質問タイトル</li>
  <li><%= @question.title %></li>
</ul>
<ul class="show">
  <li>質問の本文</li>
  <li><%= @question.body %></li>
</ul>
<ul class="show">
  <li>添付ファイル</li>
  <li><%= @question.file_uri %></li>
</ul>
<ul class="show">
  <li>私もわからん🙋‍️</li>
  <li>0</li>
</ul>
<ul class="show">
  <li>解決した日</li>
  <li><%= @question.solved_at %></li>
</ul>

<h1 class="page-title">これまでの回答</h1>
<table class="list">
  <tr class="list-header">
    <td>投稿者</td>
    <td>内容</td>
    <td>投稿日</td>
  </tr>
  <% @answers.each do |answer| %>
    <tr class="list-content">
      <td><%= answer.teacher_id if @teacher.present? %><%= answer.student_id if @student.present? %></td>
      <td><%= answer.body %></td>
      <td><%= answer.created_at %></td>
    </tr>
  <% end %>
</table>

<%= link_to '回答する',new_answer_path(question_id: @question.id), class: 'main-button' %>
<%= link_to 'もどる', '/questions' , class: 'main-button' %>
