<div class="lectures">
  <h1 class="page-title">担当講義一覧</h1>
  <% if @teacher.present? %>
    <table class="list">
      <tr class="list-header">
        <td>　</td>
        <td>ID</td>
        <td>講義名</td>
        <td>備考</td>
        <td>　</td>
      </tr>
      <% @lecture.each do |lecture| %>
        <tr class="list-content">
          <td class="center"><%= link_to '🔍', "lectures/#{lecture.id}" %></td>
          <td><%= lecture.id %></td>
          <td><%= lecture.name %></td>
          <td><%= lecture.note %></td>
          <td class="right">
            <%= link_to '削除', "lectures/#{lecture.id}",method: :delete %>　
            <%= link_to '編集', "lectures/#{lecture.id}/edit" %>　
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% if @teacher.present? %>
    <%= link_to '新規追加', new_lecture_path, class: 'main-button' %>
  <% end %>
</div>