<%= form_for @lecture , url: {action: :create} do |f| %>
<%#<p>
<%#    <%= f.label :teacher_id, '教師ID' %>
<%#    <%= f.text_field :teacher_id %>
<p>
    <%= f.label :name, '講義名' %>
    <%= f.text_field :name %>
</p>
<p>
    <%= f.label :note, 'note' %>
    <%= f.text_field :note %>
</p>
<p>
   <%= f.label :question_point, '質問点' %>
    <%= f.text_field :question_point %> 
</p>
<p>
    <%= f.label :answer_point, '回答点' %>
    <%= f.text_field :answer_point %>
</p>
<p>
    <%= f.submit '登録' %>
</p>
<%= link_to 'Back', :back %>
<% end %>