<h1 class="page-title">講義：<%= @lecture.name %></h1>
<div class="lecture-show-wrapper">
  <ul class="lecture-show first">
    <li>教師ID</li>
    <li><%= @lecture.teacher_id %></li>
  </ul>
  <ul class="lecture-show">
    <li>講義ID</li>
    <li><%= @lecture.id %></li>
  </ul>
  <ul class="lecture-show">
    <li>講義名</li>
    <li><%= @lecture.name %></li>
  </ul>
  <ul class="lecture-show">
    <li>備考</li>
    <li><%= @lecture.note %></li>
  </ul>
  <ul class="lecture-show">
    <li>質問点</li>
    <li><%= @lecture.question_point %></li>
  </ul>
  <ul class="lecture-show">
    <li>回答点</li>
    <li><%= @lecture.answer_point %></li>
  </ul>
</div>

<% if @chapter.present? %>
  <table class="list">
    <tr class="list-header">
      <td>講義回数</td>
      <td>タイトル</td>
      <td>備考</td>
      <td>　</td>
    </tr>
    <% @chapter.each do |chapter| %>
      <tr class="list-content">
        <td><%= chapter.chapter_no %></td>
        <td><%= chapter.title %></td>
        <td><%= chapter.note %></td>
        <td class="right">
          <%= link_to '表示', "/chapters/#{chapter.id}" %>　
          <%= link_to '削除', "/chapters/#{chapter.id}",method: :delete %>　
          <%= link_to '編集', "/chapters/#{chapter.id}/edit" %>　
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @teacher.present? %>
  <p><%= link_to'講義回数を追加',new_chapter_path(lecture_id: @lecture.id), class: 'main-button'  %></p>
<% end %>

<%= link_to '講義一覧に戻る', '/lectures', class: 'main-button' %>