<p><%= link_to'新規追加','question_points/new' %></p>
<% @questionpoint.each do |questionpoint| %>
<p>
    <%= questionpoint.question_id %>
    <%= questionpoint.point %>
    <%= link_to '表示', "question_points/#{questionpoint.id}" %>
    <%= link_to '削除', "question_points/#{questionpoint.id}",method: :delete %>
    <%= link_to '編集', "question_points/#{questionpoint.id}/edit" %>
</p>
<% end %>