<%= form_for @questionpoint , url: {action: :create} do |f| %>
<p>
   <p><%= f.label :question_id, '質問ID' %></p>
    <%= f.text_field :question_id %> 
</p>
<p>
   <p><%= f.label :point, 'ポイント' %></p>
    <%= f.text_field :point %> 
</p>
<p>
    <%= f.submit '登録' %>    
</p>
<%= link_to 'Back', '/question_points' %>

<% end %>