<%= form_for @lecturestudent , url: {action: :update} do |f| %>
<p>
   <p><%= f.label :lecture_id, '授業ID' %></p>
    <%= f.text_field :lecture_id %> 
</p>
<p>
   <p><%= f.label :student_id, '学生ID' %></p>
    <%= f.text_field :student_id %> 
</p>
<p>
    <%= f.submit '登録' %>    
</p>
<%= link_to 'Back', '/lecture_students' %>

<% end %>