<p><%= link_to'新規追加','lecture_students/new' %></p>
<% @lecturestudent.each do |lecturestudent| %>
<p>
    <%= lecturestudent.lecture_id %>
    <%= lecturestudent.student_id %>
    <%= link_to '表示', "lecture_students/#{lecturestudent.id}" %>
    <%= link_to '削除', "lecture_students/#{lecturestudent.id}",method: :delete %>
    <%= link_to '編集', "lecture_students/#{lecturestudent.id}/edit" %>
</p>
<% end %>