<div class="user-edit">
  <h1 class="page-title">登録情報変更</h1>
  <%= form_for @user, url: {action: :update} do |f| %>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.fields_for :teacher_attributes do |t| %>
      <%= t.label :name %><br>
      <%= t.text_field :name, value: @user.teacher.name %><br>
      <br>
      <%= t.label :note %><br>
      <%= t.text_area :note, value: @user.teacher.note %><br>
    <% end %>
    <br>
    <%= f.submit "変更" %>
  <% end %>
</div>