<div class="user-edit">
  <h1 class="page-title">登録情報変更</h1>
  <%= form_for @user, url: {action: :update} do |f| %>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.fields_for :student_attributes do |t| %>
      <%= t.label '氏名（名字と名前の間は全角スペースで区切ってください）' %><br>
      <%= t.text_field :name, value: @user.student.name %><br>
    <% end %>
    <br>
    <%= f.submit "変更" %>
  <% end %>
</div>