<div class="user-new">
  <h1 class="page-title">新規登録（学生アカウント）</h1>
  <%= form_for @user, url: {action: :create} do |f| %>
    <%= f.label 'メールアドレス（大学発行メールアドレス）' %><br>
    <%= f.text_field :email %><br>
    <br>
    <%= f.label 'パスワード' %><br>
    <%= f.password_field :password %><br>
    <br>
    <%= f.label 'パスワード（確認）' %><br>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.fields_for :student_attributes do |t| %>
      <%= t.label '氏名（名字と名前の間は全角スペースで区切ってください）' %><br>
      <%= t.text_field :name %><br>
    <% end %>
    <br>
    <%= f.submit "登録" %>
  <% end %>
</div>