<div class="user-new">
  <h1 class="page-title">新規登録（教員アカウント）</h1>
  <%= form_for @user, url: {action: :create} do |f| %>
    <%= f.label 'メールアドレス' %><br>
    <%= f.text_field :email %><br>
    <br>
    <%= f.label 'パスワード' %><br>
    <%= f.password_field :password %><br>
    <br>
    <%= f.label 'パスワード（確認）' %><br>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.fields_for :teacher_attributes do |t| %>
      <%= t.label :name %><br>
      <%= t.text_field :name %><br>
      <br>
      <%= t.label :note %><br>
      <%= t.text_area :note %><br>
    <% end %>
    <br>
    <%= f.submit "登録" %>
  <% end %>
</div>