<%= form_for @answerpoint , url: {action: :update} do |f| %>
<p>
   <p><%= f.label :answer_id, '質問ID' %></p>
    <%= f.text_field :answer_id %> 
</p>
<p>
   <p><%= f.label :point, 'ポイント' %></p>
    <%= f.text_field :point %> 
</p>
<p>
    <%= f.submit '登録' %>    
</p>
<%= link_to 'Back', '/answer_points' %>

<% end %>