<p><%= link_to'新規追加','answer_points/new' %></p>
<% @answerpoint.each do |answerpoint| %>
<p>
    <%= answerpoint.answer_id %>
    <%= answerpoint.point %>
    <%= link_to '表示', "answer_points/#{answerpoint.id}" %>
    <%= link_to '削除', "answer_points/#{answerpoint.id}",method: :delete %>
    <%= link_to '編集', "answer_points/#{answerpoint.id}/edit" %>
</p>
<% end %>