<%= render :partial => "layouts/navigation" %>
<div class="home">
  <h1 class="page-title">トップページ</h1>
  あなたのUserIDは <%= current_user.id unless current_user.nil? %><br>
  <br>
  先生でログインしたいときは、<br>
  ID: teacher@gmail.com<br>
  PASS: password<br>
  でログインしてください
</div>