<%= form_for @answer , url: {action: :update} do |f| %>
<p>
    <p><%= f.label :question_id, '質問ID' %></p>
    <%= f.text_field :question_id %>
</p>
<p>
    <p><%= f.label :student_id, '生徒ID' %></p>
    <%= f.text_field :student_id %>
</p>
<p>
    <p><%= f.label :body, '本文' %></p>
    <%= f.text_field :body %>
</p>
<p>
    <%= f.submit '登録' %>    
</p>

<% end %>