<p><%= link_to'新規追加','answers/new' %></p>
<% @answer.each do |answer| %>
<p>
    <%= answer.body %>
    <%= link_to '表示', "answers/#{answer.id}" %>
    <%= link_to '削除', "answers/#{answer.id}",method: :delete %>
    <%= link_to '編集', "answers/#{answer.id}/edit" %>
</p>
<% end %>