<h1 class="page-title">質問に回答する（質問ID：<%= @question.id %>）</h1>
<%= form_for @answer , url: {action: :create} do |f| %>
  <%= f.hidden_field :question_id, value: @question_id %>

  <% if @teacher.present? %>
    <%= f.hidden_field :teacher_id, value: Teacher.find_by(user_id: current_user.id) %>
  <% end %>

  <% if @student.present? %>
    <%= f.hidden_field :student_id, value: Student.find_by(user_id: current_user.id) %>
  <% end %>
<p>
    <p><%= f.label :body, '本文' %></p>
    <%= f.text_field :body %>
</p>
<br>
<p>
    <%= f.submit '登録' %>    
</p>
<% end %>