<p>
    <strong>課題ID:</strong>
    <%= @answer.question_id %>
</p>
<p>
    <strong>生徒ID:</strong>
    <%= @answer.student_id %>
</p>
<p>
    <strong>本文:</strong>
    <%= @answer.body %>
</p>



<%= link_to 'Back', '/answers' %>
