<h1 class="page-title">ログイン</h1>
<%= form_for @user_session, url: {action: :create} do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited:</h2>
      <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label 'メールアドレス' %><br>
  <%= f.text_field :email %><br>
  <br>
  <%= f.label 'パスワード' %><br>
  <%= f.password_field :password %><br>
  <br>
  <%= f.submit "ログイン" %>
<% end %>
<div class="first_user">
<!--  ほんとはこんなことやりたくないが、ここの余白のためだけにCSSを新しく書くのもアレなのでこれで。-->
  <br>
  <h2>はじめての方</h2>
  <%= link_to 'アカウント登録（学生）', new_user_path, class: 'main-button' %>
  <%= link_to 'アカウント登録（教員）', '/users/new/teacher', class: 'main-button' %>
</div>