<%= form_for @submission , url: {action: :update} do |f| %>
<p>
    <p><%= f.label :homework_id, '課題ID' %></p>
    <%= f.text_field :homework_id %>
</p>
<p>
    <p><%= f.label :student_id, '学生番号' %></p>
    <%= f.text_field :student_id %>
</p>
<p>
    <p><%= f.label :note, 'note' %></p>
    <%= f.text_field :note %>
</p>
<p>
    <p><%= f.label :file_uri, '提出' %></p>
    <%= f.text_field :file_uri %>
</p>

<% if @student.present? %>
<%= f.hidden_field :score, :value => 5 %>
<% end %>

<% if @teacher.present? %>
<p>
   <p><%= f.label :score, 'スコア' %></p>
    <%= f.text_field :score %> 
</p>
<p>
   <p><%= f.label :comment, 'コメント' %></p>
    <%= f.text_field :comment %> 
</p>
<% end %>

<p>
    <%= f.submit '登録' %>    
</p>
<%= link_to 'Back', :back %>

<% end %>