<% if @teacher.present? %>
<h1 class="page-title">課題の提出：生徒のみ操作OK</h1>
<p><%= link_to'新規追加','submissions/new' %></p>
<% @submission.each do |submission| %>
<p>
    <%= submission.homework_id %>
    <%= submission.student_id %>
    
    <%= link_to '表示', "submissions/#{submission.id}" %>
    <%= link_to '削除', "submissions/#{submission.id}",method: :delete %>
    <%= link_to '編集', "submissions/#{submission.id}/edit" %>
</p>
<% end %>
<% end %>