<h1 class="page-title">課題提出</h1>
<%= form_for @submission , url: {action: :create} do |f| %>
<p>
    <p><%= f.label :homework_id, '課題ID' %></p>
    <%= f.text_field :homework_id ,value: @homework_id%>
</p>
<p>
    <p><%= f.label :note, 'note' %></p>
    <%= f.text_field :note %>
</p>
<p>
    <p><%= f.label :file_uri, '提出ファイル' %></p>
    <%= f.text_field :file_uri %>
</p>

<% if @student.present? %>
<%= f.hidden_field :score, :value => 5 %>
<% end %>

<% if @teacher.present? %>
<p>
   <p><%= f.label :score, 'スコア' %></p>
    <%= f.text_field :score %> 
</p>

<!-- 生徒がスコアをいじれちゃマズいので、入力欄からは排除する -->
<!--<p>-->
<!--   <p><%#= f.label :score, 'スコア' %></p>-->
    <%#= f.text_field :score %>
<!--</p>-->

<p>
   <p><%= f.label :comment, 'コメント' %></p>
    <%= f.text_field :comment %> 
</p>
<% end %>

<p>
    <%= f.submit '登録' %>    
</p>
<%= link_to 'Back', :back %>

<% end %>