<p>
    <strong>課題ID:</strong>
    <%= @submission.homework_id %>
</p>
<p>
    <strong>学生番号:</strong>
    <%= @submission.student_id %>
</p>
<p>
    <strong>note:</strong>
    <%= @submission.note %>
</p>
<p>
    <strong>スコア:</strong>
    <%= @submission.score %>
</p>
<p>
    <strong>コメント:</strong>
    <%= @submission.comment %>
</p>

<%= link_to 'Back', "../homeworks/#{@submission.homework_id}" %>
