<%= form_for @homework , url: {action: :update} do |f| %>
<p>
    <p><%= f.label :chapter_id, '授業ID' %></p>
    <%= f.text_field :chapter_id %>
</p>
<p>
    <p><%= f.label :title, 'タイトル' %></p>
    <%= f.text_field :title %>
</p>
<p>
    <p><%= f.label :note, 'note' %></p>
    <%= f.text_field :note %>
</p>
<p>
   <p><%= f.label :closing_at, '制限時間' %></p>
    <%= f.date_field :closing_at %> 
<p>
    <%= f.submit '登録' %>    
</p>
<%= link_to 'Back', :back %>

<% end %>