<p><%= link_to'新規追加','homeworks/new' %></p>
<% @homework.each do |homework| %>
<p>
    <%= homework.chapter_id %>
    <%= homework.title %>
    <%= link_to '表示', "homeworks/#{homework.id}" %>
    <%= link_to '削除', "homeworks/#{homework.id}",method: :delete %>
    <%= link_to '編集', "homeworks/#{homework.id}/edit" %>
</p>
<% end %>
