<h1 class="page-title">課題詳細（課題ID：<%= @homework.id %>）</h1>
<ul class="show first">
  <li>講義回数</li>
  <li><%= Chapter.find_by(id: @homework.chapter_id).chapter_no %></li>
</ul>
<ul class="show">
  <li>課題タイトル</li>
  <li><%= @homework.title %></li>
</ul>
<ul class="show">
  <li>備考</li>
  <li><%= @homework.note %></li>
</ul>
<ul class="show">
  <li>締切日</li>
  <li><%= @homework.closing_at %></li>
</ul>

<% if @teacher.present? %>
  <table class="list">
    <tr class="list-header">
      <td>学生ID</td>
      <td>点数</td>
      <td>提出日</td>
      <td>　</td>
    </tr>
    <% @submission.each do |submission| %>
      <tr class="list-content">
        <td><%= submission.student_id %></td>
        <td><%= submission.score %></td>
        <td><%= submission.created_at %></td>
        <td class="right">
          <%= link_to '詳細', "/submissions/#{submission.id}" %>　
          <%= link_to '削除', "/submissions/#{submission.id}",method: :delete %>　
          <%= link_to '編集', "/submissions/#{submission.id}/edit" %>　
        </td>
      </tr>
    <% end %>
<% end %>

<%# if @student.present? %>
<!--  <p><%#= link_to'課題提出',new_submission_path(homework_id: @homework.id) %></p>-->
  <%# @student_submission.each do |submission| %>
<!--  <p>-->
<!--      <p>-->
<!--          <strong>student_id <%#= submission.student_id %></strong>-->
<!--          score : <%#= submission.score %>-->
<!--      </p>-->
<!--      <p>-->
          <%#= link_to '表示', "../submissions/#{submission.id}" %>
          <%#= link_to '削除', "../submissions/#{submission.id}",method: :delete %>
          <%#= link_to '編集', "../submissions/#{submission.id}/edit" %>
<!--      </p>-->
<!--  </p>-->
  <%# end %>
<%# end %>

<%= link_to '戻る', "/chapters/#{@homework.chapter_id}", class: 'main-button' %>