<%= form_for @chapter , url: {action: :update} do |f| %>
<p>
    <%= f.label :lecture_id, 'lecture ID' %>
    <%= f.text_field :lecture_id %>
</p>
<p>
    <%= f.label :chapter_no, 'chapter NO.' %>
    <%= f.text_field :chapter_no %>
</p>
<p>
    <%= f.label :note, 'note' %>
    <%= f.text_field :note %>
</p>
<p>
   <%= f.label :title, 'title' %>
    <%= f.text_field :title %> 
</p>
<p>
    <%= f.submit '登録' %>    
</p>

<% end %>