<h1 class="page-title">講義一覧(全15回)</h1>
<table class="list">
  <tr class="list-header">
    <td>講義名</td>
    <td>講義回数</td>
    <td>タイトル</td>
    <td>備考</td>
    <td>　</td>
  </tr>
  <% @chapter.each do |chapter| %>
    <tr class="list-content">
      <td><%= Lecture.find_by(id: chapter.lecture_id).name %></td>
      <td><%= chapter.chapter_no %></td>
      <td><%= chapter.title %></td>
      <td><%= chapter.note %></td>
      <td class="right">
        <%= link_to '表示', "chapters/#{chapter.id}" %>　
        <%= link_to '削除', "chapters/#{chapter.id}",method: :delete %>　
        <%= link_to '編集', "chapters/#{chapter.id}/edit" %>　
      </td>
    </tr>
  <% end %>
</table>
<p><%= link_to '講義を追加','chapters/new', class: 'main-button'%></p>