<h1 class="page-title"><%= @lecture.name %> 第<%= @chapter.chapter_no %>回</h1>
<ul class="show first">
  <li>講義回数</li>
  <li><%= @chapter.chapter_no %></li>
</ul>
<ul class="show">
  <li>タイトル</li>
  <li><%= @chapter.title %></li>
</ul>
<ul class="show">
  <li>備考</li>
  <li><%= @chapter.note %></li>
</ul>

<%# if @student.present? %>
<!--<h1 class="page-title">今回の課題</h1>-->
  <%# @homework.each do |homework| %>
<!--    <ul class="show first">-->
<!--      <li>課題ID</li>-->
<!--      <li><%#= homework.id %></li>-->
<!--    </ul>-->
<!--    <ul class="show first">-->
<!--      <li>課題タイトル</li>-->
<!--      <li><%#= link_to "#{homework.title}", "../homeworks/#{homework.id}" %></li>-->
<!--    </ul>-->
  <%# end %>
<%# end %>

<% if @teacher.present? %>
  <% @homework.each do |homework| %>
    <h1 class="page-title">今回の課題</h1>
    <% @homework.each do |homework| %>
      <ul class="show first">
        <li>課題ID</li>
        <li><%= homework.id %></li>
      </ul>
      <ul class="show">
        <li>課題タイトル</li>
        <li><%= link_to "#{homework.title}", "../homeworks/#{homework.id}" %></li>
      </ul>
    <% end %>
  <% end %>

  <%= link_to'課題新規追加',new_homework_path(chapter_id: @chapter.id), class: 'main-button' %>
<% end %>
<%= link_to '講義ページにもどる', "/lectures/#{@lecture.id}", class: 'main-button'%>