.main-button {
  display: block;
  width: 260px;
  padding: 8px 40px;
  margin: 20px 0;
  background: #fff;
  border: 1px solid #f9a709;
  text-align: center;
  color: #333;
  transition: 0.2s;

  &:hover {
    background: #f9f1d6;
  }
}