.list {
  width: 100%;
  margin: 40px auto;
  background: #fff;
  border-bottom: 1px solid #aaa;

  &-header {
    width: 100%;
    height: 48px;
    td {
      height: 48px;
      border-bottom: 1px solid orange;
      margin: 0 -4px;
      padding: 0 15px;
    }
  }

  &-content {
    height: 44px;
    td {
      padding: 0 15px;
      border-bottom: 1px solid #ccc;
    }
  }
}

.show {
  display: flex;
  padding: 9px 30px;
  background: #fff;
  border-bottom: 1px solid #aaa;
  li {
    min-width: 150px;
    padding: 0 12px;
  }
}

.first {
  border-top: 1px solid #aaa;
}