//
// 入力フォーム周りのスタイルを統一する
//
form {
  padding: 30px 4px;

  input[type=text], input[type='password'] {
    border: 1px solid #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 10px;
    height: 40px;
    width: 460px;
  }

  input[type=radio] {
    display: none;
    margin: 0;
  }

  input[type=radio] + label {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 1.5px;
    margin-right: 12px;
    padding: 0 0 3px 24px;
    position: relative;
  }

  input[type=radio] + label::before {
    border: 1px solid #444;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    content: "";
    display: block;
    margin-top: -9px;
    position: absolute;
    left: 0;
    top: 50%;
    height: 13px;
    width: 13px;
  }

  input[type=radio]:checked + label::after {
    background: #444;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    content: "";
    display: block;
    margin-top: -4px;
    position: absolute;
    left: 3px;
    top: 0px;
    height: 7px;
    width: 7px;
  }

  input[type=checkbox] {
    display: none;
    margin: 0;
  }

  input[type=checkbox] + label {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 1.5px;
    margin-right: 12px;
    padding: 0 0 0 24px;
    position: relative;
  }

  input[type=checkbox] + label::before {
    background: #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    content: "";
    display: block;
    margin-top: -9px;
    position: absolute;
    left: 0;
    top: 50%;
    height: 14px;
    width: 14px;
  }

  input[type=checkbox]:checked + label::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
  }

  input[type=checkbox]:checked + label::after {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    left: 3px;
    margin-top: -7px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    height: 6px;
    width: 9px;
  }

  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('') no-repeat right;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    border-right: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    color: #333;
    text-indent: .01px;
    text-overflow: "";
    padding: 10px;
    height: 40px;
    width: 230px;
  }

  textarea {
    border: 1px solid #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 10px;
    height: 210px;
    width: 460px;
  }

  input[type=submit] {
    background: url('') no-repeat;
    background-position: 10px;
    border: 2px solid #666;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    margin: 12px 0 0;
    height: 40px;
    width: 150px;

    &:hover {
      border: 2px solid #ec9b0c;
      color: #ec9b0c;
    }
  }

  input[disabled=disabled] {
    background: #B4B4B4 url('') no-repeat;
    background-position: 10px;
    border: 2px solid #7E7E7E;
    color: #7E7E7E;
    cursor: default;

    &:hover {
      opacity: 1;
    }
  }
}
