//
// 上に張り付くグローバルメニュー
//
.navigation {
  width: 100vw;
  height: 54px;
  padding: 0 20px;
  background: #fdfdfd;
  border-bottom: 1px solid #f9a709;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  color: #555;

  ul {
    height: 100%;
    display: inline-flex;
    align-items: center;
    li {
      padding: 0 14px;
      a {
        color: #555;
        transition: 0.3s;
        &:hover {
          color: #f9a709;
        }
      }
    }
  }
}