//
// 文字のサイズとか装飾とか
//
* a {
  color: #333;
  text-decoration: none;
  transition: .3s;
  &:hover {
    color: orange;
  }
}

* h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

* h2 {
  margin: 6px;
  font-size: 1.25rem;
  font-weight: 400;
}

* h3 {
  margin: 6px;
  font-size: 1.1rem;
  font-weight: 400;
}

* ul {
  list-style: none;
}

* .bold {
  font-weight: 500;
}

* .strong {
  font-weight: 700;
}

//
// 各ページの一番上にくるh1タグにはこのクラスをつける
//
.page-title {
  width: calc(100% + 24px);
  margin: 34px -12px 20px;
  padding: 2px 14px;
  border-bottom: 1px solid #555;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}