/*
 * このCSSファイルにはこれら以外何も書かないでください。
 * 共通している部分のスタイルは、common/****.scss 内に記載しましょう。
 * 各Controllerに紐づくViewのCSSは、controller名.scss に記載しましょう。
 *
 *
 *= require_tree
 *= require_self
 */

body {
    width: 100%;
    font-size: 16px;
    color: #333;
    background: #f8f8f8;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    top: 54px;
    margin: 0 auto;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}