// Place all the styles related to the Lectuers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.page-title {
  margin: 34px -12px 40px;
}

.lecture-show-wrapper {
  margin: 30px 0;
}

.lecture-show {
  display: flex;
  padding: 9px 30px;
  background: #fff;
  border-bottom: 1px solid #aaa;
  li {
    min-width: 100px;
    padding: 0 12px;
  }
}

.first {
  border-top: 1px solid #aaa;
}