<div class="navigation">
  <ul>
    <li><%= link_to 'QLearning', '/' %></li>
  </ul>
  <ul>
    <% if current_user.nil? %>
      <li><%= link_to 'ログイン/新規登録', auth_login_path %></li>
    <% elsif Teacher.find_by(user_id: current_user.id)  %>
      <li><%= link_to '講義一覧', lectures_path %></li>
      <li><%= link_to '直近の質問一覧', questions_path %></li>
      <li><%= link_to 'ログアウト', "/auth/logout", method: :delete %></li>
    <% elsif Student.find_by(user_id: current_user.id)  %>
      <li><%= link_to '講義一覧', lectures_path %></li>
      <li><%= link_to '課題一覧', homeworks_path %></li>
      <li><%= link_to '自分の質問', questions_path %></li>
      <li><%= link_to 'ログアウト', "/auth/logout", method: :delete %></li>
    <% else %>
      <li><%= link_to 'ログイン/新規登録', auth_login_path %></li>
    <% end %>
  </ul>
</div>