<!DOCTYPE html>
<html>
  <head>
    <title>Qlearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://unpkg.com/ress/dist/ress.min.css' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.9.0/css/all.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => "layouts/navigation" %>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
